body {
    background-color: rgb(181, 132, 226);
}
h1, h2{
    color: rgb(122, 6, 55);
    font-family: cursive;
    text-decoration: underline;
    text-align: center;
}
div, a{
    font-family: cursive;
    font-size: x-large;
    color: rgb(62, 56, 78)
}
ol{
    font-family: cursive;
    color: rgb(43, 9, 75);
    font-size: medium;
}
.temas a{
    font-size: medium;
    color: rgb(87, 19, 151)
}